:root {
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;

  --primario: #784D3C;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--fuenteHeading);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.header-container {
  background: url('../img/banner.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  height: 50rem;
  /* altura fija como pediste */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 768px) {
  .header-container {
    height: 100vh;
  }
}

/* ======== NAVBAR ======== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

.logo span {
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d4af37;
}

/* ======== HERO ======== */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

/* ======== RESPONSIVE ======== */

/* TABLET (hasta 1024px) */
@media (max-width: 1024px) {
  nav>ul {
    padding: 0px;
    margin: 0px;
  }

  .navbar {
    flex-direction: column;
  }

  .nav-links {
    gap: 1.2rem;
  }
}

/* CELULAR (hasta 768px) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
  .header-container .hero, .header-container{
    padding: 1rem;
  }
}

/* SECCION MAIN BLOG */

.main-content {
  padding-inline: 10rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;

  h3 {
    margin: 1rem 0px 1rem 0px;
  }
}

.read-more {
  display: inline-block;
  background: var(--negro);
  color: var(--blanco);
  padding: .5rem 1rem;
  margin-top: 1rem;
  text-align: center;
  border: 1px solid transparent; /* el espacio ya está reservado */
  transition: all 0.3s ease;
}

.read-more:hover,
.read-more:focus {
  color: var(--negro);
  background-color: var(--blanco);
  border-color: var(--primario); /* solo cambia el color del borde */
}
.post,
.curso {
  margin-bottom: 4rem;
}

.blog-posts img, .img {
  width: 100%;
}

.curso-link {
  display: inline-block;
  background: var(--primario);
  color: var(--blanco);
  padding: .5rem 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.7rem;
  border: 1px solid transparent; /* el espacio ya está reservado */
  transition: all 0.3s ease;
}
.curso-link:hover,
.curso-link:focus {
  color: var(--primario);
  background-color: var(--blanco);
  border-color: var(--primario);
} 

.sidebar {
  padding-left: 3rem;
}

/* Cuando el ancho sea menor a 900px (por ejemplo), se apila */
@media (max-width: 1024px) {
  .main-content {
    padding-inline: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* gap:0px; */
  }

  .sidebar {
    padding-left: 0px;
  }

  .read-more,
  .curso-link {
    width: 100%;
  }
}

/* ==== Página de entrada del blog ====*/
.blog-entrada-title, .blog-cursos-title {
  text-align: center;
}

.entrada img ,  .nosotros-img{
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.entrada-meta {
  color: gray;
  margin-bottom: 2rem;
}

.main-entrada-content, .main-cursos-content , .contenedor{
  padding-inline: 10rem;
  margin-bottom: 5rem;
}

.entrada, .nosotros-articulo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .entrada-meta {
    text-align: center;
  }
  .entrada, .nosotros-articulo {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .main-entrada-content, .contenedor {
    padding-inline: 2rem;
  }
}
.entrada img {
  width: 100%;
  margin-bottom: 2rem;
}

/* ==== Página informacion de cursos====*/
.blog-cursos .curso{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.curso img,  .nosotros-img{
  width: 100%;
  max-height: 47rem;
  object-fit: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
}

@media (max-width: 1460px) {
  .main-cursos-content {
    padding-inline: 3rem;
  }

  .curso img{
    max-height: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .main-cursos-content {
    padding-inline: 2rem;
  }
  .blog-cursos .curso {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .curso .curso-imagen {
    text-align: center;
  }

}

@media (max-width: 768px) {
  .main-cursos-content {
    padding-inline: 2rem;
  }
  
}

.blog-cursos .curso {
  border: 1px solid var(--gris);
  padding: 1rem;
  margin-bottom: 3rem;
}

.curso .descripcion {
  font-size: 1.4rem;
  color: #333;
}

.curso .descripcion h3 {
  margin-block: 0px;
}

.curso .beneficios {
  margin-top: 1rem;
  list-style: disc;
  padding-left: 1.5rem;
}
.curso .beneficios li {
  margin-bottom: .5rem;
}

/* Navegacion */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 16rem;
  background: var(--negro);
  color: var(--blanco);

  .footer-logo {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .footer-links {
    display: flex;
    gap: 2rem
  }
}

@media (max-width: 868px) {
  .footer {
    padding: 2rem 3rem;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}